<div class="col-lg-3">
    <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
        {% comment %} categories {% endcomment %}
        {% if settings.allcollections_show %}
        <div class="shop-widget">
            <h4 class="shop-sidebar-title">{{ settings.allcollections_heading }}</h4>
            <div class="shop-catigory">
                <ul id="faq">
                    {% assign categories = collections | where: "parentId", "==", null  %}
                    {% assign treeCategories = collections | build_tree %}

                    {% for category in categories %}
                    <li>
                        <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-{{category.id}}">
                        {{ category.title | escape }} <small>({{category.collections.size}})</small>
                        <i class="ion-ios-arrow-down"></i></a>
                        {% assign isActive = category.collections | where: "title", "==", collection.title | size %}
                        <ul id="shop-catigory-{{category.id}}" class="panel-collapse collapse {% if isActive > 0 %} show {% endif %}">
                            {% for subCategory in category.collections %}
                                <li><a href="{{subCategory.url}}">{{ subCategory.title | escape }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                    {% comment %} <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-2">Tea Trends<i class="ion-ios-arrow-down"></i></a>
                        <ul id="shop-catigory-2" class="panel-collapse collapse">
                            <li><a href="#">Pu'Erh</a></li>
                            <li><a href="#">Black</a></li>
                            <li><a href="#">White</a></li>
                            <li><a href="#">Yellow Tea</a></li>
                            <li><a href="#">Puer Tea</a></li>
                        </ul>
                    </li>
                    <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-3">Most Tea Map <i class="ion-ios-arrow-down"></i></a>
                        <ul id="shop-catigory-3" class="panel-collapse collapse">
                            <li><a href="#">Green Tea</a></li>
                            <li><a href="#">Oolong Tea</a></li>
                            <li><a href="#">Black Tea</a></li>
                            <li><a href="#">Pu'erh Tea </a></li>
                            <li><a href="#">Dark Tea</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Herbal Tea</a> </li>
                    <li> <a href="#">Rooibos Tea</a></li>
                    <li> <a href="#">Organic Tea</a></li> {% endcomment %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% comment %} price filter {% endcomment %}
        <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
            <h4 class="shop-sidebar-title">Price Filter</h4>
            <div class="price_filter mt-25">
                <span>Range:  $100.00 - 1.300.00 </span>
                <div id="slider-range"></div>
                <div class="price_slider_amount">
                    <div class="label-input">
                        <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                    </div>
                    <button type="button">Filter</button> 
                </div>
            </div>
        </div>
        {% comment %} brand filter {% endcomment %}
        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
            <h4 class="shop-sidebar-title">By Brand</h4>
            <div class="sidebar-list-style mt-20">
                <ul>
                    <li><input type="checkbox"><a href="#">Green </a>
                    <li><input type="checkbox"><a href="#">Herbal </a></li>
                    <li><input type="checkbox"><a href="#">Loose </a></li>
                    <li><input type="checkbox"><a href="#">Mate </a></li>
                    <li><input type="checkbox"><a href="#">Organic </a></li>
                    <li><input type="checkbox"><a href="#">White  </a></li>
                    <li><input type="checkbox"><a href="#">Yellow Tea </a></li>
                    <li><input type="checkbox"><a href="#">Puer Tea </a></li>
                </ul>
            </div>
        </div>
        {% comment %} attribuite filter {% endcomment %}
        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
            <h4 class="shop-sidebar-title">By Color</h4>
            <div class="sidebar-list-style mt-20">
                <ul>
                    <li><input type="checkbox"><a href="#">Black </a></li>
                    <li><input type="checkbox"><a href="#">Blue </a></li>
                    <li><input type="checkbox"><a href="#">Green </a></li>
                    <li><input type="checkbox"><a href="#">Grey </a></li>
                    <li><input type="checkbox"><a href="#">Red</a></li>
                    <li><input type="checkbox"><a href="#">White  </a></li>
                    <li><input type="checkbox"><a href="#">Yellow   </a></li>
                </ul>
            </div>
        </div>
        {% comment %} compare products {% endcomment %}
        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
            <h4 class="shop-sidebar-title">Compare Products</h4>
            <div class="compare-product">
                <p>You have no item to compare. </p>
                <div class="compare-product-btn">
                    <span>Clear all </span>
                    <a href="#">Compare <i class="fa fa-check"></i></a>
                </div>
            </div>
        </div>
        {% comment %} tag filter {% endcomment %}
        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
            <h4 class="shop-sidebar-title">Popular Tags</h4>
            <div class="shop-tags mt-25">
                <ul>
                    {% for custom_tag in collection.all_tags %}
                        <li><a href="#">{{ custom_tag | remove_first: cat_item | remove: '_' }}</a></li>                        
                    {% endfor %}
                    <li><a href="#">Green</a></li>
                    <li><a href="#">Oolong</a></li>
                    <li><a href="#">Black</a></li>
                    <li><a href="#">Pu'erh</a></li>
                    <li><a href="#">Dark </a></li>
                    <li><a href="#">Special</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>